<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="3;url=/login" />
  <title>Password Reset | The Ninja Exodus</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <h1 class="login-title">✅ Password updated.</h1>
      <p class="login-subtext">You will be redirected to the login screen shortly.</p>
      <p class="login-subtext"><a href="/login" style="color: red;">Click here if not redirected</a></p>
    </div>
  </div>
</body>
</html>

